---
const { PageID } = Astro.props;
const activeClass = "on"; // For primary color replace with `active` class
---

<ul class="menu bg-base-100 w-full m-0">
  <li><a class="menu-item p-4" id="home" href="/">首页</a></li>
  <li><a class="menu-item p-4" id="about" href="/about">使用教程</a></li>
  <li><a class="menu-item p-4" id="project" href="/project">游戏资源</a></li>
  <li><a class="menu-item p-4" id="friend" href="/friend">论坛</a></li>

</ul>

<script define:vars={{ sideBarActiveItemID: PageID, activeClass: activeClass }}>
  const activeItemElem = document.getElementById(sideBarActiveItemID);
  activeItemElem && activeItemElem.classList.add(activeClass);
</script>
